In [2]:
# !pip install PyMySql

In [3]:
import pymysql

In [7]:
# Create a connection String
# connect(First --> Host, UserName, Password, DatabaseName)
db = pymysql.connect('localhost','root','','python_db')

# Create a Cursor object
cursor = db.cursor()

# Execute a query
query = "select * from students";
cursor.execute(query)

# Fetch the records
result = cursor.fetchall()
#print(result)
for data in result:
    id = data[0]
    name = data[1]
    age = data[2]
    course = data[3]  
    print('Id = ',id, 'Name = ',name, 'Age = ',age, 'Course = ',course)
    
# Close the Connection
db.close()

Id =  1 Name =  Jyothsna Age =  20 Course =  BTech
Id =  2 Name =  Harish Age =  18 Course =  MCA
Id =  3 Name =  Tarun Age =  25 Course =  BTech
Id =  4 Name =  Teja Age =  17 Course =  BTech
Id =  5 Name =  Akshara Age =  19 Course =  MBA