In [1]:
# lambda  --> anonymous function
# a lambda can take upto n number of arguments

# syntax:
# lambda arguments : test_expression / condition

def fun(x):
    return x+5

fun(10)

15

In [2]:
x = lambda x : x+5

print(x(10))

15

In [3]:
# Text Mining
# Twitter Dataset
# Our objective is to determine the sentiments behind each tweet
# negative or neutral or happy


# Load our dataset

import pandas as pd
train = pd.read_csv('D:/Public/Jyothsna/Python/Hackveda/Text Mining/twitter_sentiment_analysis.csv')
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
train.shape

(31962, 3)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
id       31962 non-null int64
label    31962 non-null int64
tweet    31962 non-null object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [6]:
# 1. Number of Words

train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(' ')))
train[['tweet','word_count']].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          21
1  @user @user thanks for #lyft credit i can't us...          22
2                                bihday your majesty           5
3  #model   i love u take with u all the time in ...          17
4             factsguide: society now    #motivation           8

In [7]:
# 2. Number of Characters

train['char_count'] = train['tweet'].str.len()
train[['tweet','char_count']].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39

In [8]:
# 3. Compute Average word length

def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words)/len(words))
    
train['avg_word'] = train['tweet'].apply(lambda x: avg_word(x))
train[['tweet','avg_word']].head()

                                               tweet  avg_word
0   @user when a father is dysfunctional and is s...  4.555556
1  @user @user thanks for #lyft credit i can't us...  5.315789
2                                bihday your majesty  5.666667
3  #model   i love u take with u all the time in ...  4.928571
4             factsguide: society now    #motivation  8.000000

In [9]:
# 4. Number Stop Words

#import nltk
#nltk.download('stopwords')

from nltk.corpus import stopwords
stop = stopwords.words('english')

train['stopwords'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['tweet','stopwords']].head()

                                               tweet  stopwords
0   @user when a father is dysfunctional and is s...         10
1  @user @user thanks for #lyft credit i can't us...          5
2                                bihday your majesty          1
3  #model   i love u take with u all the time in ...          5
4             factsguide: society now    #motivation          1

In [10]:
# 5. Number of Hashtags

train['hashtags'] = train['tweet'].apply(lambda x: len([x for x in x.split()
                                   if x.startswith('#')]))
train[['tweet','hashtags']].head()

                                               tweet  hashtags
0   @user when a father is dysfunctional and is s...         1
1  @user @user thanks for #lyft credit i can't us...         3
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         1
4             factsguide: society now    #motivation         1

In [11]:
# 5. Number of '@'

train['specialchar'] = train['tweet'].apply(lambda x: len([x for x in x.split()
                                   if x.startswith('@')]))
train[['tweet','specialchar']].head()

                                               tweet  specialchar
0   @user when a father is dysfunctional and is s...            1
1  @user @user thanks for #lyft credit i can't us...            2
2                                bihday your majesty            0
3  #model   i love u take with u all the time in ...            0
4             factsguide: society now    #motivation            0

In [12]:
# 6. Number of Numerics

train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split()
                                   if x.isdigit()]))
train[['tweet','numerics']].head()

                                               tweet  numerics
0   @user when a father is dysfunctional and is s...         0
1  @user @user thanks for #lyft credit i can't us...         0
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         0
4             factsguide: society now    #motivation         0

In [13]:
# 7. Number of Uppercase words

train['uppercase'] = train['tweet'].apply(lambda x: len([x for x in x.split()
                                   if x.isupper()]))
train[['tweet','uppercase']].head()

                                               tweet  uppercase
0   @user when a father is dysfunctional and is s...          0
1  @user @user thanks for #lyft credit i can't us...          0
2                                bihday your majesty          0
3  #model   i love u take with u all the time in ...          0
4             factsguide: society now    #motivation          0

In [14]:
# 7. Number of Lowercase words

train['lowercase'] = train['tweet'].apply(lambda x: len([x for x in x.split()
                                   if x.islower()]))
train[['tweet','lowercase']].head()

                                               tweet  lowercase
0   @user when a father is dysfunctional and is s...         18
1  @user @user thanks for #lyft credit i can't us...         19
2                                bihday your majesty          3
3  #model   i love u take with u all the time in ...         14
4             factsguide: society now    #motivation          4

In [15]:
# Basic Pre-Processing

# 1. convert tweets into a lower case
# join function of string

list1 = ['1','2','3','4']
sep = '--'

res = sep.join(list1)
res

'1--2--3--4'

In [16]:
train['tweet'] = train['tweet'].apply(lambda x: ' '.join(x.lower() for x in x.split()))
train['tweet'].head()

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

In [17]:
# 2. Removing Punctuation

train['tweet'] = train['tweet'].str.replace('[^\w\s]','')

# ^ --> beginning of regular expression
# \w --> looks for all characters including a-z A-Z 0-9 _
# \s --> whitespace character

train['tweet'].head()

0    user when a father is dysfunctional and is so ...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model i love u take with u all the time in urð...
4                    factsguide society now motivation
Name: tweet, dtype: object

In [18]:
# 3. Removal of Stop Words

stop = stopwords.words('english')
train['tweet'] = train['tweet'].apply(lambda x: ' '.join(x for x in x.split()
                                       if x not in stop))
train['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [19]:
# 4. Removal of Common occuring Word

freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:20]
freq

user        17473
love         2647
ð            2511
day          2199
â            1797
happy        1663
amp          1582
im           1139
u            1136
time         1110
life         1086
like         1042
today         991
new           983
positive      928
thankful      919
get           917
people        852
good          840
bihday        825
dtype: int64

In [22]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: ' '.join(x for x in x.split()
                                       if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                              majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [20]:
# 5. Removal of Rare Occuring Words

freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]
freq

weddingâï             1
fashionillustrator    1
dogsburntalive        1
oveâ                  1
jaiva                 1
beetle                1
bloggersball          1
weddingmusic          1
corddemos             1
wishmeluck            1
dtype: int64

In [ ]:
# Objectives
# Spelling Correction
# Tokenization
# Stemming
# Textblob
# Sentiment Analysis