In [1]:
# lambda  --> anonymous function
# a lambda can take upto n number of arguments

# syntax:
# lambda arguments : test_expression / condition

def fun(x):
    return x+5

fun(10)

15

In [2]:
x = lambda x : x+5

print(x(10))

15

In [3]:
# Text Mining
# Twitter Dataset
# Our objective is to determine the sentiments behind each tweet
# negative or neutral or happy


# Load our dataset

import pandas as pd
train = pd.read_csv('D:/Public/Jyothsna/Python/Hackveda/Text Mining/twitter_sentiment_analysis.csv')
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
train.shape

(31962, 3)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
id       31962 non-null int64
label    31962 non-null int64
tweet    31962 non-null object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [6]:
# 1. Number of Words

train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(' ')))
train[['tweet','word_count']].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          21
1  @user @user thanks for #lyft credit i can't us...          22
2                                bihday your majesty           5
3  #model   i love u take with u all the time in ...          17
4             factsguide: society now    #motivation           8

In [7]:
# 2. Number of Characters

train['char_count'] = train['tweet'].str.len()
train[['tweet','char_count']].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39

In [8]:
# 3. Compute Average word length

def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words)/len(words))
    
train['avg_word'] = train['tweet'].apply(lambda x: avg_word(x))
train[['tweet','avg_word']].head()

                                               tweet  avg_word
0   @user when a father is dysfunctional and is s...  4.555556
1  @user @user thanks for #lyft credit i can't us...  5.315789
2                                bihday your majesty  5.666667
3  #model   i love u take with u all the time in ...  4.928571
4             factsguide: society now    #motivation  8.000000

In [9]:
# 4. Number Stop Words

#import nltk
#nltk.download('stopwords')

from nltk.corpus import stopwords
stop = stopwords.words('english')

train['stopwords'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['tweet','stopwords']].head()

                                               tweet  stopwords
0   @user when a father is dysfunctional and is s...         10
1  @user @user thanks for #lyft credit i can't us...          5
2                                bihday your majesty          1
3  #model   i love u take with u all the time in ...          5
4             factsguide: society now    #motivation          1

In [10]:
# 5. Number of Hashtags

train['hashtags'] = train['tweet'].apply(lambda x: len([x for x in x.split()
                                   if x.startswith('#')]))
train[['tweet','hashtags']].head()

                                               tweet  hashtags
0   @user when a father is dysfunctional and is s...         1
1  @user @user thanks for #lyft credit i can't us...         3
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         1
4             factsguide: society now    #motivation         1

In [11]:
# 5. Number of '@'

train['specialchar'] = train['tweet'].apply(lambda x: len([x for x in x.split()
                                   if x.startswith('@')]))
train[['tweet','specialchar']].head()

                                               tweet  specialchar
0   @user when a father is dysfunctional and is s...            1
1  @user @user thanks for #lyft credit i can't us...            2
2                                bihday your majesty            0
3  #model   i love u take with u all the time in ...            0
4             factsguide: society now    #motivation            0

In [12]:
# 6. Number of Numerics

train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split()
                                   if x.isdigit()]))
train[['tweet','numerics']].head()

                                               tweet  numerics
0   @user when a father is dysfunctional and is s...         0
1  @user @user thanks for #lyft credit i can't us...         0
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         0
4             factsguide: society now    #motivation         0

In [13]:
# 7. Number of Uppercase words

train['uppercase'] = train['tweet'].apply(lambda x: len([x for x in x.split()
                                   if x.isupper()]))
train[['tweet','uppercase']].head()

                                               tweet  uppercase
0   @user when a father is dysfunctional and is s...          0
1  @user @user thanks for #lyft credit i can't us...          0
2                                bihday your majesty          0
3  #model   i love u take with u all the time in ...          0
4             factsguide: society now    #motivation          0

In [14]:
# 7. Number of Lowercase words

train['lowercase'] = train['tweet'].apply(lambda x: len([x for x in x.split()
                                   if x.islower()]))
train[['tweet','lowercase']].head()

                                               tweet  lowercase
0   @user when a father is dysfunctional and is s...         18
1  @user @user thanks for #lyft credit i can't us...         19
2                                bihday your majesty          3
3  #model   i love u take with u all the time in ...         14
4             factsguide: society now    #motivation          4

In [15]:
# Basic Pre-Processing

# 1. convert tweets into a lower case
# join function of string

list1 = ['1','2','3','4']
sep = '--'

res = sep.join(list1)
res

'1--2--3--4'

In [16]:
train['tweet'] = train['tweet'].apply(lambda x: ' '.join(x.lower() for x in x.split()))
train['tweet'].head()

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

In [17]:
# 2. Removing Punctuation

train['tweet'] = train['tweet'].str.replace('[^\w\s]','')

# ^ --> beginning of regular expression
# \w --> looks for all characters including a-z A-Z 0-9 _
# \s --> whitespace character

train['tweet'].head()

0    user when a father is dysfunctional and is so ...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model i love u take with u all the time in urð...
4                    factsguide society now motivation
Name: tweet, dtype: object

In [18]:
# Objectives
# Spelling Correction
# Tokenization
# Stemming
# Textblob
# Sentiment Analysis

In [19]:
# Spelling Correction

# !pip install -U textblob   --> installed textblob

In [20]:
from textblob import TextBlob

# Correct()

str1 = 'lets chekc thsi speling'
TextBlob(str1).correct()

TextBlob("lets check this spelling")

In [21]:
from textblob import Word

w = Word('sppeling')

# spellcheck  --> return you a tuple (suggestion, confidence)

print(w.spellcheck())

[('spoiling', 0.35), ('appealing', 0.25), ('spelling', 0.2), ('speeding', 0.1), ('peeling', 0.1)]

In [22]:
train['tweet'][:20].apply(lambda x: TextBlob(x).correct())

0     (u, s, e, r,  , w, h, e, n,  , a,  , f, a, t, ...
1     (u, s, e, r,  , u, s, e, r,  , t, h, a, n, k, ...
2     (m, i, d, d, a, y,  , y, o, u, r,  , m, a, j, ...
3     (m, o, d, e, l,  , i,  , l, o, v, e,  , u,  , ...
4     (f, a, c, t, s, g, u, i, d, e,  , s, o, c, i, ...
5     (2, 2,  , h, u, g, e,  , f, a, n,  , f, a, r, ...
6     (u, s, e, r,  , c, a, m, p, i, n, g,  , t, o, ...
7     (t, h, e,  , n, e, x, t,  , s, c, h, o, o, l, ...
8     (w, e,  , w, o, n,  , l, o, v, e,  , t, h, e, ...
9     (u, s, e, r,  , u, s, e, r,  , w, e, l, c, o, ...
10    (â,  , i, r, e, l, a, n, d,  , c, o, n, s, u, ...
11    (w, e,  , a, r, e,  , s, o,  , s, e, l, f, i, ...
12    (i,  , g, e, t,  , t, o,  , s, e, e,  , m, y, ...
13    (u, s, e, r,  , c, a, n,  , c, a, l, l, s,  , ...
14    (n, o,  , c, o, m, m, e, n, t,  , i, n,  , a, ...
15    (o, u, c, h, j, u, n, i, o, r,  , i, s,  , a, ...
16    (i,  , a, m,  , t, h, a, n, k, f, u, l,  , f, ...
17    (b, e, t, w, e, e, n,  , i, f,  , y, o, u,  , ...
18    (i, t, s,  , f, r, i, d, a, y,  , ð,  , s, m, ...
19    (a, s,  , w, e,  , a, l, l,  , k, n, o, w,  , ...
Name: tweet, dtype: object

In [25]:
# Tokenization
# import nltk
# nltk.download('punkt')  --> punkt is a package provides functionality of Tokenization and Stemming

from nltk.tokenize import word_tokenize

data = 'The quick brown fox jumps over the little lazy dog'
print(word_tokenize(data))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Z018608\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'little', 'lazy', 'dog']

In [26]:
# convert first data into textblob with series of words

TextBlob(train['tweet'][1]).words

WordList(['user', 'user', 'thanks', 'for', 'lyft', 'credit', 'i', 'cant', 'use', 'cause', 'they', 'dont', 'offer', 'wheelchair', 'vans', 'in', 'pdx', 'disapointed', 'getthanked'])

In [28]:
# Difference b/w Splitting and Tokenization

data = 'This is the tutorial of python, nltk, textProcessing'
data.split()

['This', 'is', 'the', 'tutorial', 'of', 'python,', 'nltk,', 'textProcessing']

In [29]:
word_tokenize(data)

['This',
 'is',
 'the',
 'tutorial',
 'of',
 'python',
 ',',
 'nltk',
 ',',
 'textProcessing']

In [31]:
# Stemming

from nltk.stem import PorterStemmer

# Create an Object of PorterStemmer
st = PorterStemmer()
train['tweet'][:20].apply(lambda x: ' '.join([st.stem(word) for word in x.split()]))

0     user when a father is dysfunct and is so selfi...
1     user user thank for lyft credit i cant use cau...
2                                   bihday your majesti
3     model i love u take with u all the time in urð...
4                           factsguid societi now motiv
5     22 huge fan fare and big talk befor they leav ...
6     user camp tomorrow user user user user user us...
7     the next school year is the year for examsð ca...
8     we won love the land allin cav champion clevel...
9                    user user welcom here im it so gr8
10    â ireland consum price index mom climb from pr...
11    we are so selfish orlando standwithorlando pul...
12           i get to see my daddi today 80day gettingf
13    user cnn call michigan middl school build the ...
14    no comment in australia opkillingbay seashephe...
15          ouchjunior is angryðgot7 junior yugyoem omg
16              i am thank for have a paner thank posit
17                                  retweet if you agre
18    it friday ð smile all around via ig user user ...
19    as we all know essenti oil are not made of chemic
Name: tweet, dtype: object

In [32]:
# Sentiment Analysis

data = TextBlob('Awesome. Very Good')
data.sentiment

Sentiment(polarity=0.955, subjectivity=0.8900000000000001)

In [38]:
data = TextBlob('Very Poor')
data.sentiment

Sentiment(polarity=-0.52, subjectivity=0.78)

In [36]:
data = TextBlob('Welldone players, Team Played well')
data.sentiment.polarity

0.0

In [37]:
train['sentiment'] = train['tweet'].apply(lambda x: TextBlob(x).sentiment)
train[['tweet','sentiment']].head(10)

,tweet,sentiment
0,user when a father is dysfunctional and is so ...,"(-0.5, 1.0)"
1,user user thanks for lyft credit i cant use ca...,"(0.2, 0.2)"
2,bihday your majesty,"(0.0, 0.0)"
3,model i love u take with u all the time in urð...,"(0.5, 0.6)"
4,factsguide society now motivation,"(0.0, 0.0)"
5,22 huge fan fare and big talking before they l...,"(0.20000000000000004, 0.5)"
6,user camping tomorrow user user user user user...,"(0.0, 0.0)"
7,the next school year is the year for examsð ca...,"(-0.4, 0.45)"
8,we won love the land allin cavs champions clev...,"(0.5, 0.6)"
9,user user welcome here im its so gr8,"(0.8, 0.9)"

In [39]:
train['sentiment'] = train['tweet'].apply(lambda x: TextBlob(x).sentiment[0])
train[['tweet','sentiment']].head(10)

                                               tweet  sentiment
0  user when a father is dysfunctional and is so ...       -0.5
1  user user thanks for lyft credit i cant use ca...        0.2
2                                bihday your majesty        0.0
3  model i love u take with u all the time in urð...        0.5
4                  factsguide society now motivation        0.0
5  22 huge fan fare and big talking before they l...        0.2
6  user camping tomorrow user user user user user...        0.0
7  the next school year is the year for examsð ca...       -0.4
8  we won love the land allin cavs champions clev...        0.5
9             user user welcome here  im its so gr8         0.8

In [40]:
TextBlob('I believe that it\'s not a very good decision').sentiment

Sentiment(polarity=-0.26923076923076916, subjectivity=0.46153846153846156)

In [46]:
msg = 'Python est genial'
blob = TextBlob(msg)
blob.detect_language()

'fr'

In [47]:
blob.translate(from_lang='fr',to='en')

TextBlob("Python is awesome")

In [51]:
# !pip install pycountry
# import pycountry

import pycountry
b = TextBlob("நீங்கள் எப்படி இருக்கிறீர்கள்")
iso_code = b.detect_language()  
# iso_code = "ta"
language = pycountry.languages.get(alpha_2=iso_code)
# language = Language(alpha_2='ta', alpha_3='tam', name='Tamil', scope='I', type='L')
print(language.name)

Tamil

In [57]:
# Lemmatization  --> return Dictionary word

data = "octopi"
st = PorterStemmer()
st.stem(data)

'octopi'

In [2]:
# import nltk
# nltk.download('wordnet')

from textblob import Word
w = Word('octopi')
w.lemmatize()           # return Dictionary word

'octopus'

In [3]:
w = Word('went')
w.lemmatize('v')   # find the verb

'go'